<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Python Jitsu Club</title>
	<style>
        body {
		text-align: center;
		font-size: 18pt;
	}
        img.center {
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                display: block;
        }
        </style>
</head>
<body>
        <img class="center" alt="python logo" width=100 src="img/python-logo.png">
	<p class="message">Экспериментальное образование. Мы тоже не понимаем как это работает.</p>

        <h2>Наши принципы</h2>
        <ol>
                <li>Авангард</li>
                <li>Мемы</li>
                <li>Мясорубка</li>
        </ol>
        </ol>

        <h2>Наши движухи</h2>
        <ol>
                <li><a href="https://airflow101.python-jitsu.club">Airflow101</a> &mdash; первый наш такой блин комом, комон!</li>
        </ol>
</body>
